<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
 }

 a {
  text-decoration-line: none;
}

#content {
  height: 300px;
}

 </style></head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2><a th:href="@{/}">Spring Boot 게시판</a></h2>
  </div>

  <h2 th:if="${param.status}" th:text="저장완료"></h2>

  <div>
    <label for="title">제목</label>
    <input type="text" id="title" name="title" class="form-control"
           th:value="${post.title}" readonly>
  </div>
  <p></p>
  <div>
    <label for="content">내용</label>
    <input type="text" id="content" name="content" class="form-control"
           th:value="${post.content}" readonly>
  </div>

  <hr class="my-4">
  <div class="row">
    <div class="col">
      <button class="w-100 btn btn-primary btn-lg"
              th:onclick="|location.href='@{/post/{postId}/edit(postId=${post.id})}'|"
              type="button">게시글 수정</button>
    </div>
    <div class="col">
      <button class="w-100 btn btn-secondary btn-lg"
              onclick="location.href='items.html'"
              th:onclick="|location.href='@{/}'|"
              type="button">목록으로</button>
    </div>
  </div>

  <hr class="my-4">

<!--   댓글 자리-->
  <div class="row">
    <div th:each="comment : ${comments}">
      <label for="title" th:value="${comment.commentAuthor}">댓글</label>
      <input type="text" id="comment" name="comment" class="form-control"
             th:value="${comment.content}" readonly>
    </div>
  </div>
</div> <!-- /container -->
</body>
</html>