<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <link th:href="@{/css/bootstrap.min.css}"
        href="../css/bootstrap.min.css" rel="stylesheet">
  <style>
 .container {
 max-width: 560px;
 }
 </style>
</head>
<body>
<div class="container">
  <div class="py-5 text-center">
    <h2><a th:href="@{/}">Spring Boot 게시판</a></h2>
  </div>

  <form th:action="|@{/user/signup}|" method="post">
    <div>
      <label for="name">이름</label>
      <input type="text" id="name" name="name" class="form-control"
             placeholder="이름을 입력하세요">
    </div>

    <div>
      <label for="id">아이디</label>
      <input type="text" id="id" name="id" class="form-control"
             placeholder="아이디를 입력하세요">
    </div>

    <div>
      <label for="password">패스워드</label>
      <input type="text" id="password" name="password" class="form-control"
           placeholder="패스워드를 입력하세요">
    </div>

    <hr class="my-4">
    <div class="row">
      <div class="col">
        <button class="w-100 btn btn-primary btn-lg"
                type="submit">회원 등록</button>
      </div>
      <div class="col">
        <button class="w-100 btn btn-secondary btn-lg"
                th:onclick="|location.href='@{/}'|"
                type="button">목록으로</button>
      </div>
    </div>
  </form>
</div> <!-- /container -->

<script th:if="${successMessage != null}">
    alert([[${successMessage}]]);
</script>

</body>
</html>